/* Lab-specific styling */

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #DDD8C4;
}

/* Chat bubble layout */
.text {
  display: flex;
  margin: 5px 0;
}

.text p {
  max-width: 60%;
  padding: 8px 12px;
  border-radius: 15px;
  font-siz