/* Lab-specific styling */

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #888;
  background-color: #DDD8C4;
}

/* Chat bubble layout */
.text {
  display: flex;
  margin: 5px 0;
}

.text p {
  max-width: 60%;
  padding: 8px 12px;
  border-radius: 15px;
  font-size: 0.9em;
  font-family: sans-serif;
  background-color: #231d99;
  color: rgb(176, 248, 255);
}

/* Align left messages */
.left {
  justify-content: flex-start;
}

.left p {
  background-color: #007BFF;
  border-bottom-left-radius: 0;
}

/* Align right messages */
.right {
  justify-content: flex-end;
}

.right p {
  background-color: #28A745;
  border-bottom-right-radius: 0;
}
