/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #0016a7;
    background-color: #cdf7ff;
  } 
.contentbox {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #ff1b7e;
    background-color: #f7ffbe;
  } 

  h1 {
    color: rgb(255, 0, 149);
    font-size: 40px;
  }
  p {
    text-indent: 20px;
  }
 